* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: radial-gradient(circle at top, #1a002a, #050008);
  color: white;
  min-height: 100vh;
}

/* ШАПКА */
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  color: #b56cff;
  font-weight: bold;
  font-size: 20px;
}

nav a {
  margin-left: 20px;
  color: #ddd;
  text-decoration: none;
}

nav a:hover {
  color: #b56cff;
}

/* ЦЕНТР ЭКРАНА */
.main {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main h1 {
  font-size: 64px;
  color: #b56cff;
  text-shadow: 0 0 30px rgba(181,108,255,0.6);
  margin-bottom: 20px;
}

.main p {
  font-size: 18px;
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 30px;
}

.button {
  padding: 14px 34px;
  border: 2px solid #b56cff;
  border-radius: 14px;
  color: white;
  text-decoration: none;
  box-shadow: 0 0 20px rgba(181,108,255,0.4);
}

.button:hover {
  background: #b56cff;
}
