* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial, sans-serif;
}

body {
  background: #050507;
  color: #fff;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-size: 22px;
  font-weight: 600;
}

.header nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
}

.header nav a:hover {
  color: #fff;
}

.support {
  padding: 8px 16px;
  border: 1px solid #7a3cff;
  border-radius: 8px;
  color: #b58cff !important;
}

/* HERO */
.hero {
  min-height: 100vh;
  background:
    linear-gradient(90deg, rgba(5,5,7,0.95) 0%, rgba(5,5,7,0.85) 40%, rgba(5,5,7,0.2) 100%),
    url("bg.jpg") center / cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 56px;
  line-height: 1.15;
  margin-bottom: 25px;
  color: #ff0033;
  text-shadow:
    0 0 10px rgba(255,0,51,0.6),
    0 0 25px rgba(255,0,51,0.5),
    0 0 45px rgba(255,0,51,0.4);
}


.hero p {
  font-size: 16px;
  color: #e6e6e6;
  line-height: 1.6;
  margin-bottom: 30px;
  text-shadow: 0 0 8px rgba(255,255,255,0.15);
}


.hero button {
  background: transparent;
  border: 2px solid #ff0033;
  color: #ff0033;
  padding: 16px 38px;
  border-radius: 14px;
  font-size: 15px;
  cursor: pointer;
  text-shadow: 0 0 8px rgba(255,0,51,0.6);
  box-shadow:
    0 0 15px rgba(255,0,51,0.4),
    inset 0 0 10px rgba(255,0,51,0.2);
  transition: 0.3s;
}


.hero button:hover {
  background: #ff0033;
  color: #000;
  box-shadow:
    0 0 30px rgba(255,0,51,0.9),
    0 0 60px rgba(255,0,51,0.6);
}

/* MOBILE */
@media (max-width: 768px) {
  .header {
    padding: 20px;
  }

  .header nav {
    display: none;
  }

  .hero {
    padding: 0 20px;
    text-align: left;
  }

  .hero h1 {
    font-size: 36px;
  }
}
